.logo {
    width: 130px;
   float:left;
   padding: 20px 0;
}
.logo img {
    width: 100%;
}
.banner {
  float: right;
  padding: 20px 0;
}
.banner img {
  width: 100%;
}
.left_sidebar {
  float: left;
  height: 500px;
  width: 160px;
}
.right_sidebar {
  float: right;
  width: 160px;
}
.content {
    float: left;
    width: 387px;
}
.content > h1 {
  font-size: 18px;
}
.content > p {
  font-size: 12px;
}