.link a {
  background: #ddd none repeat scroll 0 0;
  color: red;
  font-size: 15px;
  list-style: outside none none;
  margin: 10px 0px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px;
}

.link {
  margin: 20px 0px;
}
.mian_content {
  margin: 0 auto;
  width: 960px;
}
input[type="text"] {
  height: 30px;
  width: 220px;
}